{% extend 'layout.ect' %}
{% block 'content': %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2"><a href="/company" style="color: #111;">Danh sách công ty</a></h2>
  <div class="btn-toolbar mb-2 mb-md-0">
      <form style="padding-right: 10px;" action="/company">
        <div class="input-group" id="search-field-option">
            <input name="q" value="{%= @queryString %}" type="text" class="form-control form-control-sm"  placeholder="Tìm kiếm công ty..." >
              <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-sm" id="qlabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{%= @qlabel %}</button>
              <div class="dropdown-menu" aria-labelledby="qlabel">
                <a class="dropdown-item" data-field="name">Tên công ty</a>
                <a class="dropdown-item" data-field="manager">Giám đốc</a>
                <a class="dropdown-item" data-field="email">Email</a>
                <a class="dropdown-item" data-field="website">Website</a>
                <a class="dropdown-item" data-field="office_address">Địa chỉ</a>
                <a class="dropdown-item" data-field="city">Thành phố</a>
              </div>
            </div>
          </div>
          <input type="submit" style="display: none;"/>
          <input type="hidden"  value="{%= @fieldToQuery %}" id="search_field" name="search_field"/>
    </form>
    <a href="/company/create" style="margin-right: 10px;" class="btn btn-sm btn-success">Tạo mới công ty</a>
    <div class="btn-group mr-2">
      <a class="btn btn-sm btn-outline-secondary" href="/company/import">Import</a>
    </div>
  </div>
</div>
<div class="">  
    <div class="paging-holder">
    </div>
  <div id="table-holder" style="overflow: scroll; display: block; width: 100%;">
    <div class="" style="min-width: 1440px;">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Control</th>
          {% for th in @headers: %}
            <th scope="col">{%= th.title %}</th>
          {% end %}
        </tr>
      </thead>
      <tbody>
        {% for company in @companies: %}
        <tr scope="col">
          <td>
            <a href="/company/{%= company.id %}/edit" class="edit-link">Sửa</a> <a data-id="{%= company.id %}" data-api="/api/company" class="delete-link">Xoá</a>
          </td>
          {% for th in @headers: %}
          <td>
            {% if th.image: %}
            <img src="{%= company.image %}" style="max-width: 100px; max-height: 150px;"/>
            {% else: %}
            {%= company[th.key] %}
            {% end %}
          </td>
          {% end %}
        </tr>
        {% end %}
      </tbody>
    </table>
    </div>
    <div class="paging-holder">
    </div>
  </div>
</div>
{% end %}
{% block 'script': %}
<script>
  (function(){
    let paging = vnk.createPaging("{%= @totalPage %}")
    $(".paging-holder").html(paging)
    vnk.enableDelete();
  })()
</script>
{% end %}