{% extend 'layout.ect' %}
{% block 'content': %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2">Nhập Công ty từ file EXCEL</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
  </div>
</div>
<style>
</style>
<div class="">
  <!-- <form method="POST" action="/file-upload" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <button type="submit">Upload</button>
  </form> -->
  <div id="import-log">

  </div>
  <div id="table-holder" style="overflow: scroll; display: block; width: 100%;">
      <form>
          <p class="alert alert-info">Chọn file Excel và bấm [Tiếp tục] Chỉ chấp nhận định dạng excel từ BCI Asia</p>
          <div class="form-group">
            <label for="fileInput">Chọn FILE</label>
            <input type="file" class="form-control-file" id="fileInput">
          </div>
          <button type="button" onclick="handleImportEvent(event)" class="btn btn-primary">Tiếp tục...</button>
        </form>
  </div>
</div>
<script type="text/javascript" src="//unpkg.com/xlsx/dist/shim.min.js"></script>
<script type="text/javascript" src="//unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script type="text/javascript" src="//unpkg.com/blob.js@1.0.1/Blob.js"></script>
<script type="text/javascript" src="//unpkg.com/file-saver@1.3.3/FileSaver.js"></script>
<script>
  const CITY = [{"zone":"N","value":"1","name":"Lào Cai"},{"zone":"N","value":"2","name":"Yên Bái"},{"zone":"N","value":"3","name":"Điện Biên"},{"zone":"N","value":"4","name":"Hoà Bình"},{"zone":"N","value":"5","name":"Lai Châu"},{"zone":"N","value":"6","name":"Sơn La"},{"zone":"N","value":"7","name":"Hà Giang"},{"zone":"N","value":"8","name":"Cao Bằng"},{"zone":"N","value":"9","name":"Bắc Kạn"},{"zone":"N","value":"10","name":"Lạng Sơn"},{"zone":"N","value":"11","name":"Tuyên Quang"},{"zone":"N","value":"12","name":"Thái Nguyên"},{"zone":"N","value":"13","name":"Phú Thọ"},{"zone":"N","value":"14","name":"Bắc Giang"},{"zone":"N","value":"15","name":"Quảng Ninh"},{"zone":"N","value":"16","name":"Bắc Ninh"},{"zone":"N","value":"17","name":"Hà Nam"},{"zone":"N","value":"18","name":"Hà Nội"},{"zone":"N","value":"19","name":"Hải Dương"},{"zone":"N","value":"20","name":"Hải Phòng"},{"zone":"N","value":"21","name":"Hưng Yên"},{"zone":"N","value":"22","name":"Nam Định"},{"zone":"N","value":"23","name":"Ninh Bình"},{"zone":"N","value":"24","name":"Thái Bình"},{"zone":"N","value":"25","name":"Vĩnh Phúc"},{"zone":"M","value":"26","name":"Thanh Hoá"},{"zone":"M","value":"27","name":"Nghệ An"},{"zone":"M","value":"28","name":"Hà Tĩnh"},{"zone":"M","value":"29","name":"Quảng Bình"},{"zone":"M","value":"30","name":"Quảng Trị"},{"zone":"M","value":"31","name":"Thừa Thiên Huế"},{"zone":"M","value":"32","name":"Đà Nẵng"},{"zone":"M","value":"33","name":"Quảng Nam"},{"zone":"M","value":"34","name":"Quảng Ngãi"},{"zone":"M","value":"35","name":"Bình Định"},{"zone":"M","value":"36","name":"Phú Yên"},{"zone":"M","value":"37","name":"Khánh Hoà"},{"zone":"M","value":"38","name":"Ninh Thuận"},{"zone":"M","value":"39","name":"Bình Thuận"},{"zone":"M","value":"40","name":"Kon Tum"},{"zone":"M","value":"41","name":"Gia Lai"},{"zone":"M","value":"42","name":"Đắc Lắc"},{"zone":"M","value":"43","name":"Đắc Nông"},{"zone":"M","value":"44","name":"Lâm Đồng"},{"zone":"S","value":"45","name":"Bình Phước"},{"zone":"S","value":"46","name":"Bình Dương"},{"zone":"S","value":"47","name":"Đồng Nai"},{"zone":"S","value":"48","name":"Tây Ninh"},{"zone":"S","value":"49","name":"Bà Rịa Vũng Tàu"},{"zone":"S","value":"50","name":"Thành phố Hồ Chí Minh"},{"zone":"S","value":"51","name":"Long An"},{"zone":"S","value":"52","name":"Đồng Tháp"},{"zone":"S","value":"53","name":"Tiền Giang"},{"zone":"S","value":"54","name":"An Giang"},{"zone":"S","value":"55","name":"Bến Tre"},{"zone":"S","value":"56","name":"Vĩnh Long"},{"zone":"S","value":"57","name":"Trà Vinh"},{"zone":"S","value":"58","name":"Hậu Giang"},{"zone":"S","value":"59","name":"Kiên Giang"},{"zone":"S","value":"60","name":"Sóc Trăng"},{"zone":"S","value":"61","name":"Bạc Liêu"},{"zone":"S","value":"62","name":"Cà Mau"},{"zone":"S","value":"63","name":"Cần Thơ"}]
  function getCityCodeAndZone(cityName) {
    let name = cityName.replace("-", " ")
    for (let city of CITY) {
      if (city.name.toLowerCase() == name.toLowerCase()) {
        return {
          city_code: city.value,
          zone: city.zone
        }
      }
    }
    return {
        city_code: 0,
        zone: 'A'
    }
  }

  async function importProject(data) {
    let $logDiv = $("#import-log")
    data.shift();
    let currentCompany = new Object
    let companies = []
    for (let companyRaw of data) {
      let companyName = companyRaw[3]
      let contact = {name: companyRaw[1] + ' ' + companyRaw[2], position: companyRaw[13] }
      if (companyName != currentCompany.name) {
        currentCompany = new Object
        currentCompany.contacts = [contact]
        currentCompany.name = companyName || ''
        currentCompany.manager = currentCompany.contacts[0].name || ''
        currentCompany.office_address = `${companyRaw[4]||''} ${companyRaw[5]||''} ${companyRaw[6]||''}`
        currentCompany.website = companyRaw[17] || ''
        currentCompany.city = companyRaw[8] || ''
        currentCompany.district = companyRaw[7] || ''
        currentCompany.email = companyRaw[14] || ''
        currentCompany.phone = companyRaw[15] || ''
        currentCompany.fax = companyRaw[16] || ''
        companies.push(currentCompany)
      } else {
        currentCompany.contacts.push(contact)
      }
    }
    for (let company of companies) {
      company.date = (new Date).toLocaleDateString('vi')
      try {
        await $.post("/api/company", company, "JSON")
        $logDiv.append(`<div class="alert alert-success"><strong>Success: </strong>${company.name}</div>`)
        $logDiv.scrollTop($logDiv.prop("scrollHeight"));
      } catch (err) {
        $logDiv.append(`<div class="alert alert-danger"><strong>FAILED: </strong>${company.name}</div>`)
        console.log(err)
      }
    }
    $("#table-holder").hide()
  }
</script>
<script type="text/javascript">
  var pending = false;
  var rABS = typeof FileReader !== "undefined" && typeof FileReader.prototype !== "undefined" && typeof FileReader.prototype.readAsBinaryString !== "undefined";
  function fixdata(data) {
    var o = "", l = 0, w = 10240;
    for(; l<data.byteLength/w; ++l) o+=String.fromCharCode.apply(null,new Uint8Array(data.slice(l*w,l*w+w)));
    o+=String.fromCharCode.apply(null, new Uint8Array(data.slice(l*w)));
    return o;
  }
  var drop = document.getElementById('drop');
  var spinner;
  function xw(data, cb) {
    pending = true;
    var arr = rABS ? data : btoa(fixdata(data));
    v = XLSX.read(arr, {type: 'binary' })
    // let html = XLSX.utils.sheet_to_html(v.Sheets[v.SheetNames[0]])
   importProject(XLSX.utils.sheet_to_json(v.Sheets[v.SheetNames[0]], {header:1, raw:false}));
  }
  function handleImport(file) {
    if(pending) return alertify.alert('Please wait until the current file is processed.', function(){});
    var files = document.getElementById('fileInput').files;
    if (!files.length) { alert('Vui lòng chọn file và tiếp tục... ') }
    var file = files[0];
    var reader = new FileReader();
    reader.onload = function(e) {
      if(typeof console !== 'undefined') console.log("onload", new Date());
      var data = e.target.result;
      function doitnow() {
        try {
          xw(data);
        } catch(e) {
          console.log(e);
          alert('We unfortunately dropped the ball here.  Please test the file using the <a href="/js-xlsx/">raw parser</a>.  If there are issues with the file processor, please send this file to <a href="mailto:dev@sheetjs.com?subject=I+broke+your+stuff">dev@sheetjs.com</a> so we can make things right.', function(){});
          pending = false;
        }
      }
      if(e.target.result.length > 1e6) confirm("This file is " + e.target.result.length + " bytes and may take a few moments.  Your browser may lock up during this process.  Shall we play?", function(k) { if(k) doitnow(); });
      else doitnow();
    };
    if(rABS) reader.readAsBinaryString(file);
    else reader.readAsArrayBuffer(file);
  }
  
  function handleImportEvent(e) {
    let file = $("#fileInput").val()
    handleImport(file)
  }
  
  </script>
{% end %}