{% extend 'layout.ect' %}
{% block 'content': %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2>Thêm/Sửa Công ty</h2>
</div>
<div>
  <div id="message"></div>
  <form id="form-form">
  <input type="hidden" name="id" value="{%= @company.id %}"/>
  <table width="100%">
    <tbody>
    <tr>
      <td valign="top" class="title"><a>Tên công ty</a></td>
         <td colspan="3">
        <input class="form-control form-control-sm" value="{%= @company.name %}" type="text" name="name" value="" size="80">
      </td>
    </tr>
    <tr>
      <td valign="top" class="title"><a>Tên viết tắt</a></td>
        <td colspan="3">
        <input class="form-control form-control-sm" value="{%= @company.short_name %}" type="text" name="short_name" value="" size="80">
      </td>
    </tr>
    <tr>
        <td valign="top" class="title"><a>Giám đốc</a></td>
          <td colspan="3">
          <input class="form-control form-control-sm" value="{%= @company.manager %}" type="text" name="manager" value="" size="80">
        </td>
      </tr>

  <tr>
    <td valign="top" class="title"><a>Image</a></td>
    <td colspan="3">
      <div style="">
        <img style="margin: 10px 0px; max-width: 180px; max-height: 150px;" id="image" src="{%= @company.image %}" />
        <a href="{%= @company.image %}" target="_blank" >Xem hình lớn</a>
      </div>
      <div style="position:relative;">
      <span class="btn btn-success btn-sm fileinput-button">
          <span>Chọn file</span>
          <input id="fileupload" type="file" id="fileupload"  name="file" />
          <input id="file" value="{%= @company.image %}" type="hidden"  name="image" />
      </span>
      <div id="progress" class="progress" style="margin: 10px 0px;">
          <div class="progress-bar progress-bar-success"></div>
      </div>
      <div id="files" class="files"></div>
      </div>
    </td>
  </tr>
    <tr>
      <td valign="top" class="title"><a>Website</a></td>
        <td colspan="3">
        <input class="form-control form-control-sm" value="{%= @company.website %}" type="text" name="website" value="" size="80">
      </td>
    </tr>
    <tr>
      <td valign="top" class="title"><a>SĐT</a></td>
        <td colspan="3">
        <input class="form-control form-control-sm" value="{%= @company.phone %}" type="text" name="phone" value="" size="80">
      </td>
    </tr>
    <tr>
      <td valign="top" class="title"><a>Email</a></td>
        <td colspan="3">
        <input class="form-control form-control-sm" value="{%= @company.email %}" type="text" name="email" value="" size="80">
      </td>
    </tr>
    <tr><td colspan="4"><hr class="separator"></td></tr>
    <tr>
      <td><a>Địa chỉ</a></td>
        <td colspan="3">
        <input class="form-control form-control-sm" value="{%= @company.office_address %}" type="text" name="office_address"  maxlength="200" size="80">
      </td>
    </tr>
    <tr>
      <td valign="top"><a>Thị trấn</a></td>
        <td>
        <input class="form-control form-control-sm" value="{%= @company.district %}" type="text" name="district" size="20">
      </td>
    </tr>
    <tr>
      <td valign="top"><a>Tỉnh/Thành</a></td>
        <td>
          <input id="zone" type="hidden" name="zone" value="{%= @company.zone %}"/>
          <input id="city" type="hidden" name="city" value="{%= @company.city %}"/>
          <select id="city_code" onchange="setProjectZone()" class="form-control form-control-sm" name="city_code" value="{%= @company.city_code %}">
              <option zone="N" value="1">Lào Cai</option>
              <option zone="N" value="2">Yên Bái</option>
              <option zone="N" value="3">Điện Biên</option>
              <option zone="N" value="4">Hoà Bình</option>
              <option zone="N" value="5">Lai Châu</option>
              <option zone="N" value="6">Sơn La</option>
              <option zone="N" value="7">Hà Giang</option>
              <option zone="N" value="8">Cao Bằng</option>
              <option zone="N" value="9">Bắc Kạn</option>
              <option zone="N" value="10">Lạng Sơn</option>
              <option zone="N" value="11">Tuyên Quang</option>
              <option zone="N" value="12">Thái Nguyên</option>
              <option zone="N" value="13">Phú Thọ</option>
              <option zone="N" value="14">Bắc Giang</option>
              <option zone="N" value="15">Quảng Ninh</option>
              <option zone="N" value="16">Bắc Ninh</option>
              <option zone="N" value="17">Hà Nam</option>
              <option zone="N" value="18">Hà Nội</option>
              <option zone="N" value="19">Hải Dương</option>
              <option zone="N" value="20">Hải Phòng</option>
              <option zone="N" value="21">Hưng Yên</option>
              <option zone="N" value="22">Nam Định</option>
              <option zone="N" value="23">Ninh Bình</option>
              <option zone="N" value="24">Thái Bình</option>
              <option zone="N" value="25">Vĩnh Phúc</option>
              <!-- Trung -->
              <option zone="M" value="26">Thanh Hoá</option>
              <option zone="M" value="27">Nghệ An</option>
              <option zone="M" value="28">Hà Tĩnh</option>
              <option zone="M" value="29">Quảng Bình</option>
              <option zone="M" value="30">Quảng Trị</option>
              <option zone="M" value="31">Thừa Thiên-Huế</option>
              <option zone="M" value="32">Đà Nẵng</option>
              <option zone="M" value="33">Quảng Nam</option>
              <option zone="M" value="34">Quảng Ngãi</option>
              <option zone="M" value="35">Bình Định</option>
              <option zone="M" value="36">Phú Yên</option>
              <option zone="M" value="37">Khánh Hoà</option>
              <option zone="M" value="38">Ninh Thuận</option>
              <option zone="M" value="39">Bình Thuận</option>
              <option zone="M" value="40">Kon Tum</option>
              <option zone="M" value="41">Gia Lai</option>
              <option zone="M" value="42">Đắc Lắc</option>
              <option zone="M" value="43">Đắc Nông</option>
              <option zone="M" value="44">Lâm Đồng</option>
              <!-- NAM -->
              <option zone="S" value="45">Bình Phước</option>
              <option zone="S" value="46">Bình Dương</option>
              <option zone="S" value="47">Đồng Nai</option>
              <option zone="S" value="48">Tây Ninh</option>
              <option zone="S" value="49">Bà Rịa-Vũng Tàu</option>
              <option zone="S" value="50">Thành phố Hồ Chí Minh</option>
              <option zone="S" value="51">Long An</option>
              <option zone="S" value="52">Đồng Tháp</option>
              <option zone="S" value="53">Tiền Giang</option>
              <option zone="S" value="54">An Giang</option>
              <option zone="S" value="55">Bến Tre</option>
              <option zone="S" value="56">Vĩnh Long</option>
              <option zone="S" value="57">Trà Vinh</option>
              <option zone="S" value="58">Hậu Giang</option>
              <option zone="S" value="59">Kiên Giang</option>
              <option zone="S" value="60">Sóc Trăng</option>
              <option zone="S" value="61">Bạc Liêu</option>
              <option zone="S" value="62">Cà Mau</option>
              <option zone="S" value="63">Cần Thơ</option>
              </select>
      </td>		
    </tr>
    <tr>
      <td valign="top" class="title"><a>Vùng</a></td>
      <td>
            <span style="color: #ea6804" id="zone_name">{%= @company.zone_name %}</span>
      </td>
      <td>
        
      </td>
    </tr>
    <tr>
        <td valign="top"><a>Ngày thành lập</a></td>
          <td>
          <input class="form-control form-control-sm" value="{%= @company.date %}" type="text" name="date"  placeholder="dd/mm/YYYY">
        </td>
      </tr>
    <tr><td colspan="4"><hr class="separator"></td></tr>
    <tr>
      <td valign="top"><a>Ghi chú</a>	</td>
        <td colspan="3">
        <textarea class="form-control form-control-sm" value="{%= @company.note%}" name="note" cols="80" rows="6"></textarea>
      </td>
    </tr>	
    <tr><td colspan="4"><hr class="separator"></td></tr>
    <tr>
        <td valign="top"><a>Danh sách <strong>Người liên hệ</strong></a>	</td>
        <td>
          <div id="contacts-holder" class="container">
            {% for contact in @company.contacts || []: %}
            <div class="contact-row">
                <div class="row">
                <div class="">
                  <input type="text" value="{%= contact.name %}" data-name="name" class="form-control"  placeholder="Họ tên">
                </div>
                <div class="col">
                  <input type="text" value="{%= contact.position %}"  data-name="position" class="form-control" placeholder="Vị trí">
                </div>
                <div class="col">
                    <input type="text" value="{%= contact.phone %}"  data-name="phone" class="form-control" placeholder="SĐT">
                </div>
                <div class="col">
                    <input type="text" value="{%= contact.email %}"  data-name="email" class="form-control" placeholder="Email">
                </div>
                <div>
                    <button type="button"  class="btn btn-danger btn-sm" onclick="deleteContact(this)">Xoá</button>
                </div>
                </div>
                <div class="row" style="padding-top: 8px;">
                  <div class="">
                    <input type="text" value="{%= contact.type %}"  data-name="type" class="form-control" placeholder="Vai trò">
                  </div>
                  <div class="col">
                      <input type="text" value="{%= contact.address %}"  data-name="address" class="form-control" placeholder="Địa chỉ">
                  </div>
                </div>
            </div>
            {% end %}
            <div class="contact-row row-to-add">
              <div class="row">
                <div class="">
                  <input type="text" data-name="name" class="form-control" placeholder="Họ tên">
                </div>
                <div class="col">
                  <input type="text" data-name="position" class="form-control" placeholder="Vị trí">
                </div>
                <div class="col">
                  <input type="text" data-name="phone" class="form-control" placeholder="SĐT">
                </div>
                <div class="col">
                  <input type="text" data-name="email" class="form-control" placeholder="Email">
                </div>
                <div>
                  <button type="button" class="btn btn-danger btn-sm" onclick="deleteContact(this)">Xoá</button>
                </div>
              </div>
              <div class="row"  style="padding-top: 8px;">
                <div class="">
                  <input type="text" data-name="type" class="form-control" placeholder="Vai trò">
                </div>
                <div class="col">
                  <input type="text" data-name="address" class="form-control" placeholder="Địa chỉ">
                </div>
              </div>
            </div>
          </div>
          <div style="padding-left: 0px; padding-top: 8px;">
            <button type="button" class="btn btn-sm btn-success" id="add-contacts">Thêm liên hệ</button>
          </div>
        </td>
      </tr>	
    <tr><td><button id="submit" class="btn btn-primary">Lưu lại</button></td></tr>
  </tbody></table>
  </form>

</div>
<script src="/js/jquery.ui.widget.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script>
$(function () {
    'use strict';
    // Change this to the location of your server-side upload handler:
    $('#fileupload').fileupload({
        url: "/file-upload",
        dataType: 'json',
        done: function (e, data) {
          $("#file").val(data.result.link);
          $("#image").attr("src", data.result.link)
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script>
<script>
  function initContactForm(){
   let html = $("#contacts-holder .row-to-add").get(0).outerHTML
   $("#add-contacts").click(function (){
    $("#contacts-holder").append(html)
   })
  }
  function deleteContact(btn) {
    $(btn).closest(".contact-row").remove()
  }

  function getContacts(){
    let contacts = []
    $("#contacts-holder .contact-row").each (function (i, e) {
      let contact = {}
      $(e).find("input").each(function (i,e) {
        contact[$(e).data("name") || "unknown"] = e.value
      })
      if (contact.name && contact.name != "") {
        contacts.push(contact)
      }
    })
    return contacts
  }
  initContactForm();
</script>
<script type="text/javascript">
 const zone_name = {N: 'Miền Bắc', M: 'Miền Trung', S: 'Miền Nam'}
  function setProjectZone(){
    let city_code = $("#city_code").val();
    let selected = $("#city_code").find("option[value="+city_code+"]");
    let city = selected.text();
    let zone = selected.attr('zone');
    $("#zone").val(zone);
    $("#city").val(city);
    $("#zone_name").html(zone_name[zone])
  }

  $("select").each((i,e) => {
    let value = e.getAttribute('value');
    $(e).val(value)
  })
  $("#submit").click(function (event) {
    event.preventDefault()
    event.stopPropagation()
    var formData = $("#form-form").serializeArray()
    let putData = {}

    formData.forEach(field => { putData[field.name] = field.value })
    let id = putData.id; delete putData.id
    putData.contacts = getContacts();
    if (id > 0) {
      $.ajax({
        type: 'post',
        data: putData,
        url: '/api/company/' + id+ '/replace'
      })
      .done(res => {
        window.scrollTo(0,0)
        $("#message").html('<div class="alert alert-success">Lưu thông tin thành công !   <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
      })
      .fail(err => { alert('Failed'); console.log(err) })
    } else {
      $.ajax({
        type: 'post',
        data: putData,
        url: '/api/company'
      })
      .done(res => {
        alert('Tạo Công ty thành công')
        location.href = '/company'
      })
      .fail(err => { alert('Failed'); console.log(err) })
    }
  })
  
</script>
{% end %}