{% extend 'layout.ect' %}
{% block 'content': %}
<script type="text/javascript" src="//unpkg.com/xlsx/dist/shim.min.js"></script>
<script type="text/javascript" src="//unpkg.com/xlsx/dist/xlsx.full.min.js"></script>

<script type="text/javascript" src="//unpkg.com/blob.js@1.0.1/Blob.js"></script>
<script type="text/javascript" src="//unpkg.com/file-saver@1.3.3/FileSaver.js"></script>
<h2>Quản trị hệ thống</h2>
<div class="table-responsive">
  <!-- <form method="POST" action="/file-upload" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <button type="submit">Upload</button>
  </form> -->
  <div id="table-holder">
    <script>
      window.location.href = "/project-manager"
    </script>
  </div>
</div>
{% end %}