
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MYP</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="/css/style.min.css?51" rel="stylesheet">
    {% content 'header' %}
  </head>

  <body>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">My Projects</a>
      <form style="width: 100%;" action="/project-manager">
      <input  name="q" class="form-control form-control-dark w-100" type="text" placeholder="Tìm kiếm dự án..." aria-label="Search">
      </form>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout">Đăng xuất</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column" id="main-menu">
              <li class="nav-item">
                <a class="nav-link active" href="/">
                  <span data-feather="home"></span>
                  Trang chủ
                </a>
              </li>
              <li class="nav-item" data-act="/project">
                <a class="nav-link" href="/project-manager">
                  <span data-feather="bar-chart-2"></span>
                  Danh mục dự án
                </a>
              </li>
              <li class="nav-item" data-act="/company">
                <a class="nav-link" href="/company">
                  <span data-feather="file"></span>
                  Danh mục công ty
                </a>
              </li>
              <li class="nav-item" data-act="/user">
                <a class="nav-link" href="/user-manager">
                  <span data-feather="users"></span>
                  Người dùng
                </a>
              </li>
              <li class="nav-item" data-act="/orders">
                <a class="nav-link" href="/orders">
                  <span data-feather="shopping-cart"></span>  
                  Đơn hàng
                </a>
              </li>
              <li class="nav-item"  data-act="/sale">
                <a class="nav-link" href="/sale-team">
                  <span data-feather="layers"></span>
                  Đội sales
                </a>
              </li>
              <li class="nav-item"  data-act="/notification">
                <a class="nav-link" href="/notification">
                  <span data-feather="bell"></span>
                  Thông báo
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          {% content 'content' %}
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js?5"></script>
    <script>

      $("#main-menu .nav-item").each(function (i, e){
        let act = e.getAttribute('data-act')
        if(act) {
          if (location.pathname.substr(0, act.length) == act){
            $(e).addClass("active");
          }
        }
      })
      $("#search-field-option a.dropdown-item")
      .each(function (i,e) {
        $(e).css('cursor', 'pointer');
        e.onclick = function (){
          let $e = $(e);
          let fieldName = $e.data("field")
          let fieldLabel = $e.text()
          $("#qlabel").text(fieldLabel)
          $("#search_field").val(fieldName)
        }
      })
      
      $("#qlabel").trigger("click")
    </script>
    {% content 'script' %}
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    <script>
    </script>
  </body>
</html>
