
<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.1.7
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>MYP - Login</title>
    <!-- Icons-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="/css/style.min.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script src="/js/jquery.min.js"></script>
  </head>
  <body class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8" style="padding-top: 100px;">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form id="login-form" method="post" action="/login">
                  <h2>Đăng nhập hệ thống</h2>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-user"></i>
                      </span>
                    </div>
                    <input class="form-control" name="username" type="text" placeholder="Tên đăng nhập" />
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-lock"></i>
                      </span>
                    </div>
                    <input class="form-control" name="password" type="password" placeholder="Mật khẩu" />
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button id="login" class="btn btn-primary px-4" type="submit">Đăng nhập</button>
                    </div>
                    <div class="col-6 text-right">
                      <button class="btn btn-link px-0" type="button">Quên mật khẩu?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>MYP</h2>
                  <p>Hệ thống quản lý thông tin dự án, quản lý công ty và người sử dụng.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CoreUI and necessary plugins-->
    <script>
      var $form =  $("#login-form");
      $("#login").click(function (event){
        event.preventDefault();
        var data = $form.serializeArray();
        var submit = {}
        data.forEach(function (item) { submit[item.name] = item.value })
        if (submit.username && submit.username.includes('@')) {
          submit.email = submit.username
          delete submit.username
        }
        $.ajax({
          method: 'post',
          url: '/api/user/login',
          data: submit
        })
        .done(function (response) {
          if (response.userId) {
            $.get("/api/user/"+response.userId)
            .done(user => {
              if (user.is_admin > 0) {
                localStorage.setItem('admin', user.is_admin)
                localStorage.setItem('user.name', user.name)
                localStorage.setItem('user.id', user.id)
                location.href = '/?token='+ response.id
              } else {
                alert("Permission denied!")
              }
            })
            .fail(err => {
              alert("Server error")
            })
          }
        })
        .fail(function (err){
          alert('Invalid Username or Password')
          console.log(err)
        })
      
      })
    </script>
  </body>
</html>
