{% extend 'layout.ect' %}
{% block 'content': %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2">Thông báo hệ thống</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button  onclick="createNotify()" style="margin-right: 10px;" class="btn btn-sm btn-success">Gửi thông báo</button>
  </div>
</div>
<div class="">
    <div class="paging-holder">
      </div>
  
  <div id="table-holder" style="overflow: scroll; display: block; width: 100%;">
    <div class="">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Control</th>
          {% for th in @headers: %}
            <th scope="col">{%= th.title %}</th>
          {% end %}
        </tr>
      </thead>
      <tbody>
        {% for user in @notifies: %}
        <tr scope="col">
          <td>
            <a data-api="/api/sys-notify" data-id="{%= user.id %}" class="delete-link">Xoá</a>
          </td>
          {% for th in @headers: %}
          <td>
            {% if th.image: %}
            <img src="{%= user.image %}" style="max-width: 100px; max-height: 150px;"/>
            {% else if th.enum: %}
            {%= th.enum[user[th.key]] %}
            {% else: %}
            {%= user[th.key] %}
            {% end %}
          </td>
          {% end %}
        </tr>
        {% end %}
      </tbody>
    </table>
    </div>

  </div>
</div>
<div class="modal"  data-backdrop="static"id="md-create-sale-team" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Gửi thông báo hệ thống</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-warning">
        <strong>Chú ý:</strong> Các thông báo sẽ gửi đến toàn bộ người dùng đang đăng nhập trong hệ thống
      </div>
      <div id="loading" class="text-center" style="display: none;">
        <img style="width: 32px; height: 32px;" src="/images/loading.gif"/>
        <p>Đang gửi...</p>
      </div>
      <div class="modal-body">
        <label>Tiêu đề thông báo</label>
        <input class="form-control" name="team_name" id="notify_title" />
        <label>Nội dung thông báo</label>
        <textarea  class="form-control"  id="notify_content"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnSend" onclick="sendNotify()" class="btn btn-primary">Gửi thông báo</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>
<div class="paging-holder">
  </div>
<script type="text/javascript">
 var $mdCreate = $("#md-create-sale-team")
  function sendNotify() {
    let title = $("#notify_title").val();
    let content = $("#notify_content").val();
    if (title.length > 255) {
      alert("Tiêu đề quá 255 ký tự")
      return;
    }
    if (content.length > 255) {
      alert("Nội dung quá 255 ký tự")
      return;
    }
    if (title.length && content.length) {
      $("#loading").show()
      $("#btnSend").prop("disabled", true)
      $.ajax({
        url: '/send-system-notify',
        type: 'post',
        data: {title: title, content: content}
      })
      .done(res => {
        alert("Đã gửi xong!")
        $mdCreate.modal('hide')
        location.reload()
      })
      .fail(err => {
        console.log(err)
      })
    } else {
      alert("Vui lòng nhập nội dung và tiêu đề")
    } 
  }
  function createNotify() {
    $mdCreate.modal('show')
    $("#loading").hide()
    $("#btnSend").prop("disable", false)
  }
</script>
{% end %}

{% block 'script': %}
<script>
  (function(){
    let paging = vnk.createPaging("{%= @totalPage %}")
    $(".paging-holder").html(paging)
    vnk.enableDelete();
  })()
</script>
{% end %}