{% extend 'layout.ect' %}
{% block 'content': %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2">Danh sách đơn hàng</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
  </div>
</div>
<div class="">  
  <div class="paging-holder">
  </div>
  <div id="table-holder" style="overflow: scroll; display: block; width: 100%;">
    <div class="" style="min-width: 1440px;">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th></th>
          {% for th in @headers: %}
            <th scope="col">{%= th.title %}</th>
          {% end %}
        </tr>
      </thead>
      <tbody>
        {% for order in @orders: %}
        <tr scope="col">
          <td>
            <!-- <a href="/order/{%= order.id %}/edit" class="edit-link">Sửa</a>  --> <a data-api="/api/order" data-id="{%=  order.id %}" href class="delete-link">Xoá</a>
          </td>
          {% for th in @headers: %}
          <td>
            {% if th.image: %}
            <img src="{%= order.image %}" style="max-width: 100px; max-height: 150px;"/>
            {% else: %}
            {%= order[th.key] %}
            {% end %}
          </td>
          {% end %}
        </tr>
        {% end %}
      </tbody>
    </table>
    </div>

  </div>
</div>
<div class="paging-holder">
</div>
{% end %}


{% block 'script': %}
<script>
  (function(){
    let paging = vnk.createPaging("{%= @totalPage %}")
    $(".paging-holder").html(paging)
    vnk.enableDelete();
  })()
</script>
{% end %}