{% extend 'layout.ect' %}
{% block 'content': %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Thêm/Sửa dự án</h2>
</div>
<div>
  <!-- <form method="POST" action="/file-upload" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <button type="submit">Upload</button>
  </form> -->
  <div id="message"></div>
  <form id="form-form">
  <input type="hidden" name="id" value="{%= @project.id %}"/>
  <table width="100%">
    <tbody>
    <tr>
      <td>
        <a>Chủ sỡ hữu</a>:&nbsp;
      </td>
      <td>
        <input class="form-control form-control-sm" type="text" name="owner" value="{%= @project.owner %}" />
      </td>
    </tr>
    <tr>
      <td valign="top" class="title"><a>Tên dự án</a></td>
         <td colspan="3">
        <input class="form-control form-control-sm" value="{%= @project.name %}" type="text" name="name" value="" size="80">
      </td>
    </tr>
    <tr>
      <td valign="top"><a>Tên dự án địa phương</a></td>
         <td colspan="3">
        <input class="form-control form-control-sm" type="text" name="sort_name" value="{%= @project.sort_name %}" size="80">
      </td>
    </tr>
    <tr>
      <td valign="top"><a>Nhà thầu chính</a></td>
         <td colspan="3">
        <input class="form-control form-control-sm" type="text" name="nha_thau_chinh" value="{%= @project.nha_thau_chinh %}" size="80">
      </td>
    </tr>
    <tr>
      <td valign="top"><a>Nhà thầu phụ</a></td>
         <td colspan="3">
        <input class="form-control form-control-sm" type="text" name="nha_thau_phu" value="{%= @project.nha_thau_phu %}" size="80">
      </td>
    </tr>

  <tr>
      <td valign="top" class="title"><a>Image</a></td>
      <td colspan="3">
        <div style="">
          <img style="margin: 10px 0px; max-width: 180px; max-height: 150px;" id="image" src="{%= @project.image %}" />
          <a href="{%= @project.image %}" target="_blank" >Xem hình lớn</a>
        </div>
        <div style="position:relative;">
        <span class="btn btn-success btn-sm fileinput-button">
            <span>Chọn file</span>
            <input id="fileupload" type="file" id="file" name="file" />
            <input id="file" value="{%= @project.image %}"  type="hidden"  name="image" />
        </span>
        <div id="progress" class="progress" style="margin: 10px 0px;">
            <div class="progress-bar progress-bar-success"></div>
        </div>
        <div id="files" class="files"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td valign="top" class="title">
        <a href="javascript:openWindow('Project_stage')">Giai đoạn dự án</a>
      </td>
        <td>
        <select value="{%= @project.stage %}" class="form-control form-control-sm" name="stage">
          <option value="0">
          Chọn giai đoạn...
          </option><option value="1">Trình duyệt dự án</option>
          
          <option value="2">Thiết kế cơ sở</option>
          
          <option value="3">Thiết kế kỹ thuật</option>
          
          <option value="4">Thiết kế thi công</option>
          
          <option value="5">Đấu thầu</option>
          
          <option value="6">Chọn thầu</option>
          
          <option value="7">Thi công</option>
          
          <option value="8">Thi công: nhà thầu chính</option>
          
          <option value="9">Thi công: đấu thầu nhà thầu phụ</option>
          
          <option value="10">Thi công: nhà thầu phụ</option>
          
        </select>
      </td>
    </tr>
    <tr>
      <td valign="top"><a href="">Loại hình 1</a> </td>
      <td>
        <select value="{%= @project.type_1 %}" name="type_1" class="form-control form-control-sm">
            <option value="0">Chọn loại dự án...</option>
            <option value="1">VĂN PHÒNG</option>
            <option value="2">CĂN HỘ</option>
            <option value="3">TRUNG TÂM THƯƠNG MẠI</option>
            <option value="4">XƯỞNG</option>
            <option value="5">NHÀ KHO</option>
            <option value="6">TRỤ SỞ</option>
            <option value="7">NÔNG NGHIỆP</option>
            <option value="8">TRƯỜNG HỌC</option>
            <option value="9">KHO TANG VẬT</option>
            <option value="10">KHÁCH SẠN</option>
            <option value="11">CHỢ</option>
            <option value="12">NHÀ MÁY</option>
            <option value="13">DOANH TRẠI</option>
            <option value="14">CÔNG TRÌNH GIAO THÔNG</option>
            <option value="15">BỆNH VIỆN</option>
            <option value="16">NHÀ XƯỞNG</option>
            <option value="100">LOẠI KHÁC</option>
        </select>
      </td>
    </tr>
    <tr>
      <td valign="top"><a href="javascript:openWindow('Project_category')">Loại hình 2</a></td>
      <td>
        <select  value="{%=  @project.type_2 %}" name="type_2" class="form-control form-control-sm">
            <option value="0">Chọn loại dự án...</option>
            <option value="1">VĂN PHÒNG</option>
            <option value="2">CĂN HỘ</option>
            <option value="3">TRUNG TÂM THƯƠNG MẠI</option>
            <option value="4">XƯỞNG</option>
            <option value="5">NHÀ KHO</option>
            <option value="6">TRỤ SỞ</option>
            <option value="7">NÔNG NGHIỆP</option>
            <option value="8">TRƯỜNG HỌC</option>
            <option value="9">KHO TANG VẬT</option>
            <option value="10">KHÁCH SẠN</option>
            <option value="11">CHỢ</option>
            <option value="12">NHÀ MÁY</option>
            <option value="13">DOANH TRẠI</option>
            <option value="14">CÔNG TRÌNH GIAO THÔNG</option>
            <option value="15">BỆNH VIỆN</option>
            <option value="16">NHÀ XƯỞNG</option>
            <option value="100">LOẠI KHÁC</option>
        </select>
      </td>
    </tr>
    <tr>
      <td valign="top"><a href="javascript:openWindow('Project_category')"> Loại hình 3 </a></td>
      <td>
        <select value="{%=  @project.type_3 %}" name="type_3" class="form-control form-control-sm">
            <option value="0">Chọn loại dự án...</option>
            <option value="1">VĂN PHÒNG</option>
            <option value="2">CĂN HỘ</option>
            <option value="3">TRUNG TÂM THƯƠNG MẠI</option>
            <option value="4">XƯỞNG</option>
            <option value="5">NHÀ KHO</option>
            <option value="6">TRỤ SỞ</option>
            <option value="7">NÔNG NGHIỆP</option>
            <option value="8">TRƯỜNG HỌC</option>
            <option value="9">KHO TANG VẬT</option>
            <option value="10">KHÁCH SẠN</option>
            <option value="11">CHỢ</option>
            <option value="12">NHÀ MÁY</option>
            <option value="13">DOANH TRẠI</option>
            <option value="14">CÔNG TRÌNH GIAO THÔNG</option>
            <option value="15">BỆNH VIỆN</option>
            <option value="16">NHÀ XƯỞNG</option>
            <option value="100">LOẠI KHÁC</option>
        </select>
      </td>
    </tr>
    <tr>		
      <td valign="top"><a href="javascript:openWindow('Project_category')">Loại hình 4</a></td>
      <td>
        <select value="{%= @project.type_4 %}"  name="type_4" class="form-control form-control-sm">
            <option value="0">Chọn loại dự án...</option>
            <option value="1">VĂN PHÒNG</option>
            <option value="2">CĂN HỘ</option>
            <option value="3">TRUNG TÂM THƯƠNG MẠI</option>
            <option value="4">XƯỞNG</option>
            <option value="5">NHÀ KHO</option>
            <option value="6">TRỤ SỞ</option>
            <option value="7">NÔNG NGHIỆP</option>
            <option value="8">TRƯỜNG HỌC</option>
            <option value="9">KHO TANG VẬT</option>
            <option value="10">KHÁCH SẠN</option>
            <option value="11">CHỢ</option>
            <option value="12">NHÀ MÁY</option>
            <option value="13">DOANH TRẠI</option>
            <option value="14">CÔNG TRÌNH GIAO THÔNG</option>
            <option value="15">BỆNH VIỆN</option>
            <option value="16">NHÀ XƯỞNG</option>
            <option value="100">LOẠI KHÁC</option>
        </select>
      </td>
    </tr>
    <tr>
      <td valign="top"><a href="javascript:openWindow('Project_category')">Loại hình 5</a></td>
      <td>
        <select name="type_5" value="{%= @project.type_5 %}" class="form-control form-control-sm">
            <option value="0">Chọn loại dự án...</option>
            <option value="1">VĂN PHÒNG</option>
            <option value="2">CĂN HỘ</option>
            <option value="3">TRUNG TÂM THƯƠNG MẠI</option>
            <option value="4">XƯỞNG</option>
            <option value="5">NHÀ KHO</option>
            <option value="6">TRỤ SỞ</option>
            <option value="7">NÔNG NGHIỆP</option>
            <option value="8">TRƯỜNG HỌC</option>
            <option value="9">KHO TANG VẬT</option>
            <option value="10">KHÁCH SẠN</option>
            <option value="11">CHỢ</option>
            <option value="12">NHÀ MÁY</option>
            <option value="13">DOANH TRẠI</option>
            <option value="14">CÔNG TRÌNH GIAO THÔNG</option>
            <option value="15">BỆNH VIỆN</option>
            <option value="16">NHÀ XƯỞNG</option>
            <option value="100">LOẠI KHÁC</option>
        </select>
      </td>
    </tr>	
    <tr><td colspan="4"><hr class="separator"></td></tr>
    <tr>
      <td><a href="javascript:openWindow('Address')">Địa chỉ</a></td>
        <td colspan="3">
        <input class="form-control form-control-sm" value="{%= @project.address %}" type="text" name="address"  maxlength="200" size="80">
      </td>
    </tr>
    <tr>
      <td valign="top"><a href="javascript:openWindow('Town')">Thị trấn</a></td>
        <td>
        <input class="form-control form-control-sm" value="{%= @project.district %}" type="text" name="district" size="20">
      </td>
      <td valign="top"><a>Tỉnh/Thành</a></td>
        <td>
          <input id="zone" type="hidden" name="zone" value="{%= @project.zone %}"/>
          <input id="city" type="hidden" name="city" value="{%= @project.city %}"/>
          <select id="city_code" onchange="setProjectZone()" class="form-control form-control-sm" name="city_code" value="{%= @project.city_code %}">
              <option zone="N" value="1">Lào Cai</option>
              <option zone="N" value="2">Yên Bái</option>
              <option zone="N" value="3">Điện Biên</option>
              <option zone="N" value="4">Hoà Bình</option>
              <option zone="N" value="5">Lai Châu</option>
              <option zone="N" value="6">Sơn La</option>
              <option zone="N" value="7">Hà Giang</option>
              <option zone="N" value="8">Cao Bằng</option>
              <option zone="N" value="9">Bắc Kạn</option>
              <option zone="N" value="10">Lạng Sơn</option>
              <option zone="N" value="11">Tuyên Quang</option>
              <option zone="N" value="12">Thái Nguyên</option>
              <option zone="N" value="13">Phú Thọ</option>
              <option zone="N" value="14">Bắc Giang</option>
              <option zone="N" value="15">Quảng Ninh</option>
              <option zone="N" value="16">Bắc Ninh</option>
              <option zone="N" value="17">Hà Nam</option>
              <option zone="N" value="18">Hà Nội</option>
              <option zone="N" value="19">Hải Dương</option>
              <option zone="N" value="20">Hải Phòng</option>
              <option zone="N" value="21">Hưng Yên</option>
              <option zone="N" value="22">Nam Định</option>
              <option zone="N" value="23">Ninh Bình</option>
              <option zone="N" value="24">Thái Bình</option>
              <option zone="N" value="25">Vĩnh Phúc</option>
              <!-- Trung -->
              <option zone="M" value="26">Thanh Hoá</option>
              <option zone="M" value="27">Nghệ An</option>
              <option zone="M" value="28">Hà Tĩnh</option>
              <option zone="M" value="29">Quảng Bình</option>
              <option zone="M" value="30">Quảng Trị</option>
              <option zone="M" value="31">Thừa Thiên-Huế</option>
              <option zone="M" value="32">Đà Nẵng</option>
              <option zone="M" value="33">Quảng Nam</option>
              <option zone="M" value="34">Quảng Ngãi</option>
              <option zone="M" value="35">Bình Định</option>
              <option zone="M" value="36">Phú Yên</option>
              <option zone="M" value="37">Khánh Hoà</option>
              <option zone="M" value="38">Ninh Thuận</option>
              <option zone="M" value="39">Bình Thuận</option>
              <option zone="M" value="40">Kon Tum</option>
              <option zone="M" value="41">Gia Lai</option>
              <option zone="M" value="42">Đắc Lắc</option>
              <option zone="M" value="43">Đắc Nông</option>
              <option zone="M" value="44">Lâm Đồng</option>
              <!-- NAM -->
              <option zone="S" value="45">Bình Phước</option>
              <option zone="S" value="46">Bình Dương</option>
              <option zone="S" value="47">Đồng Nai</option>
              <option zone="S" value="48">Tây Ninh</option>
              <option zone="S" value="49">Bà Rịa-Vũng Tàu</option>
              <option zone="S" value="50">Thành phố Hồ Chí Minh</option>
              <option zone="S" value="51">Long An</option>
              <option zone="S" value="52">Đồng Tháp</option>
              <option zone="S" value="53">Tiền Giang</option>
              <option zone="S" value="54">An Giang</option>
              <option zone="S" value="55">Bến Tre</option>
              <option zone="S" value="56">Vĩnh Long</option>
              <option zone="S" value="57">Trà Vinh</option>
              <option zone="S" value="58">Hậu Giang</option>
              <option zone="S" value="59">Kiên Giang</option>
              <option zone="S" value="60">Sóc Trăng</option>
              <option zone="S" value="61">Bạc Liêu</option>
              <option zone="S" value="62">Cà Mau</option>
              <option zone="S" value="63">Cần Thơ</option>
              </select>
      </td>		
    </tr>
    <tr>
      <td valign="top" class="title"><a href="javascript:openWindow('Country')">Quốc gia</a></td>
        <td>
        <select name="country">
          <option value="">Chọn quốc gia </option><option value="1">Việt Nam</option><option value="57">Cambodia</option><option value="8">Trung Quốc</option><option value="9">Hồng Kông</option><option value="3">In-đô-nê-xi-a</option><option value="130">Laos</option><option value="4">Mã Lai</option><option value="158">Myanmar</option><option value="5">Phi líp pin</option><option value="6">Singapore</option><option value="11">Thái lan</option>
        </select>&nbsp;
      </td>
      <td>
        <span style="color: #ea6804" id="zone_name">{%= @project.zone_name %}</span>
      </td>
    </tr>	
    <tr><td colspan="4"><hr class="separator"></td></tr>
    <tr>
      <td valign="top"><a href="javascript:openWindow('Remarks')">Ghi chú</a>	</td>
        <td colspan="3">
        <textarea class="form-control form-control-sm" value="{%= @project.note%}" name="note" cols="80" rows="6"></textarea>
      </td>
    </tr>	
    <tr>
      <td valign="top"><a href="javascript:openWindow('Value')">Giá trị dự án</a></td>
        <td>
        <input type="text" class="form-control form-control-sm" name="cost" value="{%= @project.cost %}">
      </td>
      <td valign="top" class="small"><a href="javascript:openWindow('Floor_area')">Diện tích sàn</a> (m<sup>2</sup>)</td>
        <td>
        <input type="number"  class="form-control form-control-sm" value="{%= @project.floor_area %}" name="floor_area" value="">
      </td>
    </tr>
    <tr>
      <td valign="top" class="small"><a href="">Diện tích thực địa</a> (m<sup>2</sup>)</td>
        <td><input class="form-control form-control-sm" type="text" name="total_area" value="{%= @project.total_area %}"></td>
      <td valign="top" class="small"><a href="javascript:openWindow('Storeys')">Số tầng</a></td>
        <td><input class="form-control form-control-sm" type="text" name="floor_count" value="{%= @project.floor_count %}"></td>
    </tr>
    
    <tr><td colspan="4"><hr class="separator"></td></tr>
    <tr>
      <td valign="middle"><a href="">Khởi công</a></td>
        <td valign="middle" class="small_left">
        <input type="text"  class="form-control form-control-sm" name="start" value="{%= @project.start_date %}" placeholder="dd/mm/yyyy" />
        
      </td>
      <td valign="middle" class="small"><a href="javascript:openWindow('Construction_end')">Hoàn công</a></td>
        <td valign="middle" class="small_left">
        <input type="text" class="form-control form-control-sm" name="finish" value="{%= @project.finish_date %}"  placeholder="dd/mm/yyyy" />
        
      </td>
    </tr>
    <tr><td colspan="4"><hr class="separator" /></td></tr>
    <tr><td colspan="4"><h4>Danh sách người liên hệ</h4></td></tr>
    <tr>
      <td colspan="4">
        <div id="contacts-holder" class="">
          {% for contact in @project.contacts || []: %}
          <div class="row contact-row">
              <div class="row">
                <div class="">
                  <input type="text" value="{%= contact.full_name %}" data-name="full_name" class="form-control" placeholder="Họ tên">
                </div>
                <div class="col">
                  <input type="text" value="{%= contact.position %}" data-name="position" class="form-control" placeholder="Vị trí">
                </div>
                <div class="">
                  <input type="text" value="{%= contact.phone %}" data-name="phone" class="form-control" placeholder="SĐT">
                </div>
                <div class="col">
                  <input type="text" value="{%= contact.email %}" data-name="email" class="form-control" placeholder="Email">
                </div>
                <div class="company-select" style="flex: 2;">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-secondary" onclick="selectCompany(this)" type="button">Chọn</button>
                    </div>
                    <input type="hidden" value="{%= contact.company_id %}" data-name="company_id" />
                    <input type="text" value="{%= contact.company %}" class="form-control" placeholder="Công ty" data-name="company">
                  </div>
                </div>
                <div>
                  <button type="button" class="btn btn-danger btn-sm" onclick="deleteContact(this)">Xoá</button>
                </div>
              </div>
              <div class="row" style="padding-top: 8px;">
                <div class="">
                  <input type="text" value="{%= contact.type %}"  data-name="type" class="form-control" placeholder="Vai trò">
                </div>
                <div class="col">
                    <input type="text" value="{%= contact.address %}"  data-name="address" class="form-control" placeholder="Địa chỉ">
                </div>
              </div>
          </div>
          {% end %}
          <div class="contact-row row-to-add">
              <div class="row">
                <div class="">
                  <input type="text" data-name="full_name" class="form-control" placeholder="Họ tên">
                </div>
                <div class="col">
                  <input type="text" data-name="position" class="form-control" placeholder="Vị trí">
                </div>
                <div class="">
                  <input type="text" data-name="phone" class="form-control" placeholder="SĐT">
                </div>
                <div class="col">
                  <input type="text" data-name="email" class="form-control" placeholder="Email">
                </div>
                <div class="company-select" style="flex: 2;">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-secondary" onclick="selectCompany(this)" type="button">Chọn</button>
                    </div>
                    <input type="hidden" data-name="company_id" />
                    <input type="text" class="form-control" placeholder="Công ty" data-name="company">
                  </div>
                </div>
                <div>
                  <button type="button" class="btn btn-danger btn-sm" onclick="deleteContact(this)">Xoá</button>
                </div>
              </div>
              <div class="row" style="padding-top: 8px;">
                <div class="">
                  <input type="text" data-name="type" class="form-control" placeholder="Vai trò">
                </div>
                <div class="col">
                  <input type="text" data-name="address" class="form-control" placeholder="Địa chỉ">
                </div>
              </div>
          </div>
        </div>
        <div style="padding-left: 0px; padding-top: 8px;">
          <button type="button" class="btn btn-sm btn-success" id="add-contacts">Thêm liên hệ</button>
        </div>
      </td>
    </tr>	
    <tr><td><button id="submit" class="btn btn-primary">Lưu lại</button></td><td></td></tr>
  </tbody></table>
  </form>
</div>
<div class="modal" id="md-selector" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Chọn từ danh sách</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group" id="list-group">
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn-group mr-2">
            <a id="md-prev" class="btn btn-sm btn-outline-secondary">Prev</a>
            <a id="md-next" class="btn btn-sm btn-outline-secondary">Next</a>
        </div>
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>
<script src="/js/jquery.ui.widget.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script>
    $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        $('#fileupload').fileupload({
            url: "/file-upload",
            dataType: 'json',
            done: function (e, data) {
              $("#file").val(data.result.link);
              $("#image").attr("src", data.result.link)
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
            }
        }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
    </script>
<script>

  function initContactForm(){
   let html = $("#contacts-holder .row-to-add").get(0).outerHTML
   $("#add-contacts").click(function (){
    $("#contacts-holder").append(html)
   })
  }
  function deleteContact(btn) {
    $(btn).closest(".contact-row").remove()
  }

  function getContacts(){
    let contacts = []
    $("#contacts-holder .contact-row").each (function (i, e) {
      let contact = {contact_index: i}
      $(e).find("input").each(function (i,e) {
        contact[$(e).data("name") || "unknown"] = e.value
      })
      if (contact.full_name && contact.full_name != "") {
        contacts.push(contact)
      }
    })
    return contacts
  }
  initContactForm();
</script>
<script>
  window._MD_DATA = []
  function showSelectorModal(api, query, cb) {
    let currentPage = 0, limit = 20;
    let $md = $("#md-selector");
    $md.modal("show");
    const showData = (page) => {
      let skip = page*limit;
      $.ajax({
        type: "GET",
        dataType: "JSON",
        url: api + `?filter={"fields": {"id": true, "name": true}, "skip": ${skip}, "limit": ${limit}}`
      })
      .done(data => {
        _MD_DATA = data
        if (!data.length) {
          return $("#list-group").html("<p class='alert alert-warning'>Không còn dữ liệu...</p>")
        }
        let html = data.map( (item, index) => `<a data-index="${index}" data-id=${item.id} class="list-group-item list-group-item-action x-selector">${item.name}</a>`) 
        $("#list-group").html(html)
        $md.find(".x-selector").click(function (){
          let index = $(this).data("index")
          cb(_MD_DATA[index])
          $md.modal("hide")
        })
      })
      .fail(err => console.log(err))
    }
    showData(0)
    $("#md-next").click(function (){
      currentPage += 1;
      showData(currentPage)
    })
    $("#md-prev").click(function (){
      currentPage -= 1;
      showData(currentPage)
    })
  }
  function selectCompany(elm){
    showSelectorModal("/api/company", "name", function (company) {
      let $elm = $(elm)
      $elm.closest(".company-select").find("input[data-name='company_id']").val(company.id)
      $elm.closest(".company-select").find("input[data-name='company']").val(company.name)
      window.scrollTo(0, $elm.offset().top)
    })
  }

  function registerContacts(id, projectName, contactData, cb) {
    $.ajax({
      url: "/project/register-contacts",
      type: "POST",
      data: {
        id: id,
        projectName: projectName,
        contacts: contactData,
      },
      success: function (res) {
        cb(res)
      },
      error: function (err) {
        console.log(err)
        alert("Tạo danh sách liên hệ dự án thất bại")
      }
    })
  }
</script>
<script type="text/javascript">
 const zone_name = {N: 'Miền Bắc', M: 'Miền Trung', S: 'Miền Nam'}
  function setProjectZone(){
    let city_code = $("#city_code").val();
    let selected = $("#city_code").find("option[value="+city_code+"]");
    let city = selected.text();
    let zone = selected.attr('zone');
    $("#zone").val(zone);
    $("#city").val(city);
    $("#zone_name").html(zone_name[zone])
  }

  $("select").each((i,e) => {
    let value = e.getAttribute('value');
    $(e).val(value)
  })
  $("#submit").click(function (event) {
    event.preventDefault()
    event.stopPropagation()
    var formData = $("#form-form").serializeArray()
    let putData = {}

    formData.forEach(field => { putData[field.name] = field.value })
    putData.start = putData.start ? moment(putData.start, "DD/MM/YYYY").toISOString() : undefined
    putData.finish = putData.finish ? moment(putData.finish, "DD/MM/YYYY").toISOString() : undefined
    let id = putData.id; delete putData.id
    putData.contacts = getContacts()
    if (id > 0) {
      $.ajax({
        type: 'post',
        data: putData,
        url: '/api/project/' + id+ '/replace'
      })
      .done(res => {
        $("#message").html('<div class="alert alert-success">Lưu thông tin thành công!   <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
        registerContacts(id, putData.name, putData.contacts, function (res){
          console.log(res)
          window.scrollTo(0,0)
          // location.href = '/project-manager'
        })
      })
      .fail(err => { alert('Failed'); console.log(err) })
    } else {
      $.ajax({
        type: 'post',
        data: putData,
        url: '/api/project'
      })
      .done(res => {
        alert('Tạo project thành công')
        registerContacts(res.id, putData.name, putData.contacts, function (res){
         location.href = '/project-manager'
        })
      })
      .fail(err => { alert('Failed'); console.log(err) })
    }
  })
  
</script>
{% end %}
