{% extend 'layout.ect' %}
{% block 'content': %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2"><a style="color: #111;" href="/project-manager">Danh mục dự án</a></h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <form style="padding-right: 10px;" action="/project-manager">
        <div class="input-group" id="search-field-option">
            <input name="q" value="{%= @queryString %}" type="text" class="form-control form-control-sm"  placeholder="Tìm kiếm dự án..." >
              <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-sm" id="qlabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{%= @qlabel %}</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" data-field="name">Tên dự án</a>
                <a class="dropdown-item" data-field="owner">Chủ đầu tư</a>
                <a class="dropdown-item" data-field="nha_thau_chinh">Nhà thầu chính</a>
                <a class="dropdown-item" data-field="address">Địa chỉ</a>
                <a class="dropdown-item" data-field="city">Thành phố</a>
              </div>
            </div>
          </div>
          <input type="submit" style="display: none;"/>
          <input type="hidden"  value="{%= @fieldToQuery %}" id="search_field" name="search_field"/>
    </form>
    <a href="/project/create" style="margin-right: 10px;" class="btn btn-sm btn-success">Tạo mới project</a>
    <div class="btn-group mr-2">
      <a class="btn btn-sm btn-outline-secondary" href="/project/import">Import</a>
    </div>
    <div class="btn-group mr-2" id="btn-zone">
        <a class="btn btn-sm btn-outline-secondary" data-zone="N" href="/project-manager?zone=N">Bắc</a>
        <a class="btn btn-sm btn-outline-secondary" data-zone="M" href="/project-manager?zone=M">Trung</a>
        <a class="btn btn-sm btn-outline-secondary" data-zone="S" href="/project-manager?zone=S">Nam</a>
        <a class="btn btn-sm btn-outline-secondary" data-zone="ALL" href="/project-manager">Tất cả</a>
    </div>
  </div>
</div>
<div class="">
  <!-- <form method="POST" action="/file-upload" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <button type="submit">Upload</button>
  </form> -->
  <div class="paging-holder">
  </div>
  <div id="table-holder" style="overflow: scroll; display: block; width: 100%;">
    <div class="" style="min-width: 1440px;">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Control</th>
          {% for th in @headers: %}
            <th scope="col">{%= th.title %}</th>
          {% end %}
        </tr>
      </thead>
      <tbody>
        {% for project in @projects: %}
        <tr scope="col">
          <td>
            <a href="/project/{%= project.id %}/edit" class="edit-link">Sửa</a> <a data-id="{%= project.id %}" data-api="/api/project" class="delete-link">Xoá</a>
          </td>
          {% for th in @headers: %}
          <td>
            {% if th.image: %}
            <img src="{%= project.image %}" style="max-width: 100px; max-height: 150px;"/>
            {% else: %}
            {%= project[th.key] %}
            {% end %}
          </td>
          {% end %}
        </tr>
        {% end %}
      </tbody>
    </table>
    </div>
  </div>
  <div class="paging-holder">
  </div>
</div>
{% end %}

{% block 'script': %}
<script>
  (function(){
    let paging = vnk.createPaging("{%= @totalPage %}")
    $(".paging-holder").html(paging)
    vnk.enableDelete();
    $("#btn-zone a.btn").each(function(i,e) {
      let zone = "{%= @zone %}";
      let z = $(e).data("zone");
      if ( z == zone) {
        $(e).removeClass("btn-outline-secondary").addClass("btn-secondary")
      }
    })
  })()
</script>
{% end %}