{% extend 'layout.ect' %}
{% block 'content': %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2">Nhập dự án từ file EXCEL</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
  </div>
</div>
<style>
</style>
<div class="">
  <!-- <form method="POST" action="/file-upload" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <button type="submit">Upload</button>
  </form> -->
  <div id="import-log">

  </div>
  <div id="table-holder" style="overflow: scroll; display: block; width: 100%;">
      <form>
          <p class="alert alert-info">Chọn file Excel và bấm [Tiếp tục] Chỉ chấp nhận định dạng excel từ BCI Asia</p>
          <div class="form-group">
            <label for="fileInput">Chọn FILE</label>
            <input type="file" class="form-control-file" id="fileInput">
          </div>
          <button type="button" onclick="handleImportEvent(event)" class="btn btn-primary">Tiếp tục...</button>
        </form>
  </div>
</div>
<script type="text/javascript" src="//unpkg.com/xlsx/dist/shim.min.js"></script>
<script type="text/javascript" src="//unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script type="text/javascript" src="//unpkg.com/blob.js@1.0.1/Blob.js"></script>
<script type="text/javascript" src="//unpkg.com/file-saver@1.3.3/FileSaver.js"></script>

<script>
  const CITY = [{"zone":"N","value":"1","name":"Lào Cai"},{"zone":"N","value":"2","name":"Yên Bái"},{"zone":"N","value":"3","name":"Điện Biên"},{"zone":"N","value":"4","name":"Hoà Bình"},{"zone":"N","value":"5","name":"Lai Châu"},{"zone":"N","value":"6","name":"Sơn La"},{"zone":"N","value":"7","name":"Hà Giang"},{"zone":"N","value":"8","name":"Cao Bằng"},{"zone":"N","value":"9","name":"Bắc Kạn"},{"zone":"N","value":"10","name":"Lạng Sơn"},{"zone":"N","value":"11","name":"Tuyên Quang"},{"zone":"N","value":"12","name":"Thái Nguyên"},{"zone":"N","value":"13","name":"Phú Thọ"},{"zone":"N","value":"14","name":"Bắc Giang"},{"zone":"N","value":"15","name":"Quảng Ninh"},{"zone":"N","value":"16","name":"Bắc Ninh"},{"zone":"N","value":"17","name":"Hà Nam"},{"zone":"N","value":"18","name":"Hà Nội"},{"zone":"N","value":"19","name":"Hải Dương"},{"zone":"N","value":"20","name":"Hải Phòng"},{"zone":"N","value":"21","name":"Hưng Yên"},{"zone":"N","value":"22","name":"Nam Định"},{"zone":"N","value":"23","name":"Ninh Bình"},{"zone":"N","value":"24","name":"Thái Bình"},{"zone":"N","value":"25","name":"Vĩnh Phúc"},{"zone":"M","value":"26","name":"Thanh Hoá"},{"zone":"M","value":"27","name":"Nghệ An"},{"zone":"M","value":"28","name":"Hà Tĩnh"},{"zone":"M","value":"29","name":"Quảng Bình"},{"zone":"M","value":"30","name":"Quảng Trị"},{"zone":"M","value":"31","name":"Thừa Thiên Huế"},{"zone":"M","value":"32","name":"Đà Nẵng"},{"zone":"M","value":"33","name":"Quảng Nam"},{"zone":"M","value":"34","name":"Quảng Ngãi"},{"zone":"M","value":"35","name":"Bình Định"},{"zone":"M","value":"36","name":"Phú Yên"},{"zone":"M","value":"37","name":"Khánh Hoà"},{"zone":"M","value":"38","name":"Ninh Thuận"},{"zone":"M","value":"39","name":"Bình Thuận"},{"zone":"M","value":"40","name":"Kon Tum"},{"zone":"M","value":"41","name":"Gia Lai"},{"zone":"M","value":"42","name":"Đắc Lắc"},{"zone":"M","value":"43","name":"Đắc Nông"},{"zone":"M","value":"44","name":"Lâm Đồng"},{"zone":"S","value":"45","name":"Bình Phước"},{"zone":"S","value":"46","name":"Bình Dương"},{"zone":"S","value":"47","name":"Đồng Nai"},{"zone":"S","value":"48","name":"Tây Ninh"},{"zone":"S","value":"49","name":"Bà Rịa Vũng Tàu"},{"zone":"S","value":"50","name":"Thành phố Hồ Chí Minh"},{"zone":"S","value":"51","name":"Long An"},{"zone":"S","value":"52","name":"Đồng Tháp"},{"zone":"S","value":"53","name":"Tiền Giang"},{"zone":"S","value":"54","name":"An Giang"},{"zone":"S","value":"55","name":"Bến Tre"},{"zone":"S","value":"56","name":"Vĩnh Long"},{"zone":"S","value":"57","name":"Trà Vinh"},{"zone":"S","value":"58","name":"Hậu Giang"},{"zone":"S","value":"59","name":"Kiên Giang"},{"zone":"S","value":"60","name":"Sóc Trăng"},{"zone":"S","value":"61","name":"Bạc Liêu"},{"zone":"S","value":"62","name":"Cà Mau"},{"zone":"S","value":"63","name":"Cần Thơ"}]
  function getCityCodeAndZone(cityName) {
    let name = cityName.replace("-", " ")
    for (let city of CITY) {
      if (city.name.toLowerCase() == name.toLowerCase()) {
        return {
          city_code: city.value,
          zone: city.zone
        }
      }
    }
    return {
        city_code: 0,
        zone: 'A'
    }
  }

  function extractCompany (text) {
    let segments = text.split("||")
    let contacts = []
    for (let segment of segments) {
      let info = segment.split(":")
      let contact = {}
      contact.type = $.trim(info[0])
      if (info[1]) {
        let reg = /,|;/.exec(info[1])
        if (reg) {
          if (reg[0] == ',') {
            contact.company = $.trim(info[1].substr(0, reg.index) || "")
          }
          let contactName = info[1].substr(reg.index + 1).split(" - ")
          contact.full_name = $.trim(contactName[0])
          if (contactName[1]) {
            contact.position = $.trim(contactName[1].split('(')[0])
          }
        }
        let contactAdd =  /\(.+\)/g.exec(segment)[0]
        if (contactAdd) {
          contactAdd = contactAdd.replace(/\(|\)/g, "")
          contactAddSeg  = contactAdd.split("Điện thọai:")
          contact.address = (contactAddSeg[0] || "").replace("Địa chỉ: ", "")
          if (contactAddSeg[1]) {
            contact.phone = $.trim((contactAddSeg[1].split("Email:")[0]).replace(":", ""))
            contact.phone = $.trim(contact.phone.split(";")[0] || "")
            let emailReg = /Email:/.exec(contactAddSeg[1])
            if (emailReg && emailReg.index){
              contact.email = $.trim(contactAddSeg[1].substr(emailReg.index+6) || "")
            }
          }
        }
      }
      contacts.push(contact)
    }
    return contacts
  }

  function findOwner(contacts) {
    let ownerContact = contacts.find(c =>  (c.type == "Chủ đầu tư" && c.company !== "") )
    if (ownerContact) return ownerContact.company
    return ""
  }

  async function importProject(data) {
    let $logDiv = $("#import-log")
    data.shift();
    for (projectRaw of data) {
      try {
      let project = {}
      let nameType = projectRaw[1].replace(/\(.+\)/g, "")
      let nameDat  = nameType.split(" - ")
      project.invest_type = $.trim(nameDat[1]) || ""
      project.type = $.trim(nameDat[0])
      project.name = (/\(.+\)/g).exec(projectRaw[1])[0].replace(/\(|\)/g, "")
      project.city = $.trim(project.name.split("-").pop())
      let cityCode = getCityCodeAndZone(project.city)
      project.city_code = cityCode.city_code
      project.zone = cityCode.zone
      project.address = projectRaw[2] || ""
      project.thiet_ke = projectRaw[3] || ""
      let owner = projectRaw[5] || ""
      project.contacts = extractCompany(owner)
      project.owner = findOwner(project.contacts)
      project.stage = projectRaw[11] || ""
      project.cost = projectRaw[7] || ""
      project.floor_area =  projectRaw[10] || ""
      project.floor_count =  projectRaw[9] || ""
      project.nha_thau_chinh =  (projectRaw[12] || "").substring(0, 500)
      project.nha_thau_phu =  (projectRaw[13] || "").substring(0, 500)
      project.start = new Date()
      project.country = "Việt Nam"
      let dateRaw = projectRaw[8] || ""
      if (dateRaw.includes("Tháng")){
        dateRaw = dateRaw.split(" ")
        let year = dateRaw.pop()
        let month = (parseInt(dateRaw[1]) - 1) || 0
        project.start.setFullYear(year)
        project.start.setMonth(month)
      } else {
        dateRaw = dateRaw.split(" ")
        let year = dateRaw.pop()
        project.start.setFullYear(year)
      }
      project.note = projectRaw[16] || ""
      // Get project city code and zone
        // console.log(project)
        await $.post("/api/project", project, "JSON")
        $logDiv.append(`<div class="alert alert-success"><strong>Success: </strong>${project.name}</div>`)
        $logDiv.scrollTop($logDiv.prop("scrollHeight"));
      } catch (err) {
        $logDiv.append(`<div class="alert alert-danger"><strong>FAILED: </strong>${project.name}</div>`)
        console.log(err)
      }
    }
    $("#table-holder").hide()
  }
</script>
<script type="text/javascript">
  var pending = false;
  var rABS = typeof FileReader !== "undefined" && typeof FileReader.prototype !== "undefined" && typeof FileReader.prototype.readAsBinaryString !== "undefined";
  function fixdata(data) {
    var o = "", l = 0, w = 10240;
    for(; l<data.byteLength/w; ++l) o+=String.fromCharCode.apply(null,new Uint8Array(data.slice(l*w,l*w+w)));
    o+=String.fromCharCode.apply(null, new Uint8Array(data.slice(l*w)));
    return o;
  }
  var drop = document.getElementById('drop');
  var spinner;
  function xw(data, cb) {
    pending = true;
    var arr = rABS ? data : btoa(fixdata(data));
    v = XLSX.read(arr, {type: 'binary' })
    let html = XLSX.utils.sheet_to_html(v.Sheets[v.SheetNames[0]])
    importProject(XLSX.utils.sheet_to_json(v.Sheets[v.SheetNames[0]], {header:1, raw:false}));
  }
  function handleImport(file) {
    if(pending) return alertify.alert('Please wait until the current file is processed.', function(){});
    var files = document.getElementById('fileInput').files;
    if (!files.length) { alert('Vui lòng chọn file và tiếp tục... ') }
    var file = files[0];
    var reader = new FileReader();
    reader.onload = function(e) {
      if(typeof console !== 'undefined') console.log("onload", new Date());
      var data = e.target.result;
      function doitnow() {
        try {
          xw(data);
        } catch(e) {
          console.log(e);
          alert('We unfortunately dropped the ball here.  Please test the file using the <a href="/js-xlsx/">raw parser</a>.  If there are issues with the file processor, please send this file to <a href="mailto:dev@sheetjs.com?subject=I+broke+your+stuff">dev@sheetjs.com</a> so we can make things right.', function(){});
          pending = false;
        }
      }
      if(e.target.result.length > 1e6) confirm("This file is " + e.target.result.length + " bytes and may take a few moments.  Your browser may lock up during this process.  Shall we play?", function(k) { if(k) doitnow(); });
      else doitnow();
    };
    if(rABS) reader.readAsBinaryString(file);
    else reader.readAsArrayBuffer(file);
  }
  
  function handleImportEvent(e) {
    let file = $("#fileInput").val()
    handleImport(file)
  }
  
  </script>
{% end %}