{% extend 'layout.ect' %}
{% block 'content': %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2">Danh sách đội sale</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button  onclick="createTeam()" style="margin-right: 10px;" class="btn btn-sm btn-success">Tạo Team Sale</button>
  </div>
</div>
<div class="">
  <div class="paging-holder">
  </div>
  <div id="table-holder" style="overflow: scroll; display: block; width: 100%;">
    <div class="">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Control</th>
          {% for th in @headers: %}
            <th scope="col">{%= th.title %}</th>
          {% end %}
        </tr>
      </thead>
      <tbody>
        {% for user in @saleTeams: %}
        <tr scope="col">
          <td>
              <a href="/sale-team/{%= user.id %}/edit">Sửa</a>
              <a data-api="/api/sale-team" data-id="{%= user.id %}" class="delete-link">Xoá</a>
          </td>
          {% for th in @headers: %}
          <td>
            {% if th.image: %}
            <img src="{%= user.image %}" style="max-width: 100px; max-height: 150px;"/>
            {% else if th.enum: %}
            {%= th.enum[user[th.key]] %}
            {% else: %}
            {%= user[th.key] %}
            {% end %}
          </td>
          {% end %}
        </tr>
        {% end %}
      </tbody>
    </table>
    </div>

  </div>
</div>
<div class="paging-holder">
</div>
<div class="modal" id="md-create-sale-team" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tạo mới Sale team</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Nhập tên Team Sale</label>
        <input class="form-control" name="team_name" id="team_name" />
        <label>Vùng dữ liệu được truy cập</label>
        <select  value="0"  id="zone_available" class="form-control form-control-sm" name="zone_available">
          <option value="0" selected>
          Chọn vùng dữ liệu...
          </option><option value="ALL">Tất cả</option>
          <option value="N">Miền Bắc</option>
          <option value="S">Miền Nam</option>
          <option value="M">Miền Trung</option>
          <option value="HN">TP Hà Nội</option>
          <option value="HCM">TP Hồ Chí Minh</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="newTeamSale()" class="btn btn-primary">Lưu lại</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
 var $mdCreate = $("#md-create-sale-team")
  function newTeamSale() {
    let teamName = $("#team_name").val();
    let zone_available = $("#zone_available").val();
    if (teamName.length) {
      $.ajax({
        url: '/api/sale-team',
        type: 'post',
        data: {name: teamName, zone_available: zone_available}
      })
      .done(res => {
        $mdCreate.modal('hide')
        location.reload()
      })
      .fail(err => {
        console.log(err)
      })
    } else {

    } 
  }
  function createTeam() {
    $mdCreate.modal('show')
  }
</script>
{% end %}

{% block 'script': %}
<script>
  (function(){
    let paging = vnk.createPaging("{%= @totalPage %}")
    $(".paging-holder").html(paging)
    vnk.enableDelete();
  })()
</script>
{% end %}