{% extend 'layout.ect' %}
{% block 'header': %}
<link  rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.standalone.min.css" />
{% end %}
{% block 'content': %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2"> Sửa thông tin nhóm SALE </h2>
  </div>
<div>
  <div id="message"></div>
  <form id="form-form">
  <input type="hidden" name="id" value="{%= @team.id %}"/>
  <table width="100%">
    <tbody>
    <tr>
      <td valign="top" class="title"><a>Tên nhóm <S></S></a></td>
         <td colspan="3">
        <input required class="form-control form-control-sm" value="{%= @team.name %}" type="text" name="name" value="" size="80">
      </td>
    </tr>
    <tr>
      <td><a>Vùng dữ liệu được truy cập</a></td>
        <td colspan="3">
         <select value="{%= @team.zone_available %}" id="user_zone_available" class="form-control form-control-sm" name="zone_available">
          <option value="0">
          Chọn vùng dữ liệu...
          </option><option value="ALL">Tất cả</option>
          <option value="N">Miền Bắc</option>
          <option value="S">Miền Nam</option>
          <option value="M">Miền Trung</option>
          <option value="HN">TP Hà Nội</option>
          <option value="HCM">TP Hồ Chí Minh</option>
        </select>
      </td>
    </tr>  
    <tr>
      <td valign="top"><a>Gói Dịch vụ</a></td>
      <td id="service-package">
      </td>
    </tr>
    <tr><td colspan="4"><hr class="separator"></td></tr>

    <tr><td><button id="submit" class="btn btn-primary">Lưu lại</button></td></tr>
  </tbody></table>
  <input type="hidden" name="team_id" id="team_id" value="{%= @team.team_id %}" />
  </form>
  <h4 style="margin-top: 30px;">Danh sách thành viên</h4>
  <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Control</th>
          <th scope="col">Tên đầy đủ</th>
          <th scope="col">Email</th>
          <th scope="col">SĐT</th>
          <th scope="col">Địa chỉ</th>
        </tr>
      </thead>
      <tbody id="tbody">
      </tbody>
    </table>

      <div class="modal" id="md-set-package" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Cài đặt gói dịch vụ</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="list-group" id="service-body">
                  <label>Gói dịch vụ</label>
                  <select class="form-control form-control-sm" id="package" name="package">
                  <option value="">Chọn gói dịch vụ</option>
                  <option value="basic">Basic</option>
                  <option value="standard">Standard</option>
                  <option value="enterprise">Enterprise</option>
                  </select>
                  <label>Ngày hết hạn</label>
                  <input class="form-control" type="text" name="expire_date" id="expire_date"/>
                  <p id="message-team"></p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="SaveOrder()">Lưu</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
            </div>
          </div>
        </div>
      </div>
</div>
<script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
<script>
  $("select").each((i,e) => {
    let value = e.getAttribute('value');
    $(e).val(value)
  })
</script>
<script type="text/javascript">
  $mdCreate = $("#md-create-sale-team")
  $mdAdd = $("#md-add-sale-team")




  $("select").each((i,e) => {
    let value = e.getAttribute('value');
    $(e).val(value)
  })

  $("#form-form").submit(function (event) {
    event.preventDefault()
    event.stopPropagation()
    var formData = $("#form-form").serializeArray()
    let putData = {}
    formData.forEach(field => { putData[field.name] = field.value })
    putData.emailVerified = true
    let id = putData.id; delete putData.id
    if (id > 0) {
      $.ajax({
        type: 'post',
        data: putData,
        url: '/api/sale-team/' + id+ '/replace'
      })
      .done(res => {
        window.scrollTo(0,0)
        $("#message").html('<div class="alert alert-success">Lưu thông tin thành công !   <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
      })
      .fail(err => { alert('Failed'); console.log(err) })
    }
  })
  var order = {}
  let teamId = "{%= @team.id %}"
  if (document.getElementById("service-package")) {
    $control = $("#service-package");
    $.get('/api/order/?filter={ "where": { "team_id": {%= @team.id %} } }')
    .done(data => {
      if (!data || !data.length) {
        $control.html("<span id='spanD'>Chưa có đặt hàng </span><span onclick='editService()' class='editor'>[Cài đặt gói dịch vụ]</span>")
      } else {
        order = data[0]
        console.log(order)
        let expire_date = moment(order.expire_date).format("DD/MM/YYYY")
        $control.html(`<span id="spanD">${order.package} - ${expire_date}</span> <span onclick='editService()' class='editor'>[Cài đặt gói dịch vụ]</span>`)
      }
    })
    .fail(err => {

    })
  }
  let $mdPackage = $("#md-set-package")
  let $package = $("#package")
  let $expireDate = $("#expire_date")
  editService = () => {
    let userTeam = teamId
    if (userTeam > 0) {
      order.team_id = userTeam
      $("#message-team").html("Gói dịch vụ này dành cho mọi người dùng trong Team Sale")
    }
    $package.val(order.package);
    let date = moment(order.expire_date || new Date()).format("DD/MM/YYYY")
    $expireDate.val(date);
    $("#expire_date").datepicker({format: 'dd/mm/yyyy'})
    $mdPackage.modal('show')
  }
  function SaveOrder() {
    order.expire_date = moment($expireDate.val(), "DD/MM/YYYY").toDate().toISOString()
    order.package = $package.val()
    order.team_id = "{%= @team.id %}"
    order.active = true;
    order.active_date = (new Date()).toISOString()
    order.user_id = order.user_id || 0
    if (!order.created) { delete order.created }
    if (!order.package || order.package =="") {
      alert("Vui lòng chọn 1 gói dịch vụ")
      $package.focus()
      return false
    }
    if (order.id) {
      // Update
      let sendData = Object.assign({}, order)
      sendData.id = undefined
      order.team_id = teamId > 0 ? teamId : null
      $.ajax({
        type: 'PUT',  
        url: '/api/order/' + order.id,
        data: sendData
      })
      .done(() => {
        $mdPackage.modal('hide')
        $("#spanD").html(order.package + ' - ' + $expireDate.val())
      })
      .fail(err => alert("Lỗi xảy ra khi cập nhật thông tin") )
    } else {
      // Create
      order.created = (new Date).toISOString()
      order.team_id = teamId > 0 ? teamId : null
      $.ajax({
        type: 'POST',  
        url: '/api/order/',
        data: order
      })
      .done(() => {
        $mdPackage.modal('hide')
        $("#spanD").html(order.package + ' - ' + $expireDate.val())
      })
      .fail(err => alert("Lỗi xảy ra khi cập nhật thông tin") )
    }
  }

  $.getJSON('/api/user?filter={"where": {"team_id": '+teamId+'}}')
  .done(data => {
    let html = data.map(item => {
      return `<tr><td><a href="/user/${item.id}/edit">Sửa</a></td><td>${item.full_name}</td> <td>${item.email}</td>  <td>${item.phone}</td>  <td>${item.address}</td></tr>`
    })
    $("#tbody").html(html)
  })
  .fail(err => console.log(err))
</script>
{% end %}