{% extend 'layout.ect' %}
{% block 'header': %}
<link  rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.standalone.min.css" />
{% end %}
{% block 'content': %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2"> {% if @user.id: %}Sửa thông tin tài khoản{% else: %}Tạo mới tài khoản{% end %}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <button  onclick="addToSaleTeam()" style="margin-right: 10px;" class="btn btn-sm btn-primary">Chọn Team Sale</button>
      {% if @user.id > 0: %}
      <button  onclick="createTeam()" style="margin-right: 10px;" class="btn btn-sm btn-success">Tạo Team Sale</button>
      {% end %}
    </div>
  </div>
<div>
  <div id="message"></div>
  <form id="form-form">
  <input type="hidden" name="id" id="userId" value="{%= @user.id %}"/>
  <table width="100%">
    <tbody>
    <tr>
      <td valign="top" class="title"><a>Tên đầy đủ</a></td>
         <td colspan="3">
        <input required class="form-control form-control-sm" value="{%= @user.full_name %}" type="text" name="full_name" value="" size="80">
      </td>
    </tr>
    <tr>
        <td valign="top" class="title"><a>Tên đăng nhập</a></td>
           <td colspan="3">
          <input required class="form-control form-control-sm" {% if @user.id: %}disabled{% end %} value="{%= @user.username %}" type="text" name="username" value="" size="80">
        </td>
    </tr>
    <tr>
      <td valign="top"><a>Email</a></td>
         <td colspan="3">
        <input class="form-control form-control-sm" type="text" name="email" value="{%= @user.email %}" size="80">
      </td>
    </tr>
    <tr>
      <td valign="top" class="title">
        <a>Chức vụ</a>
      </td>
      <td>
          <input type="text" class="form-control form-control-sm"  value="{%= @user.position %}" name="position" />
      </td>
    </tr>
    <tr id="admin-right" style="display: none;">
    <td>Quyền Admin</td>
      <td>  
        <div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" {% if @user.is_admin == 0: %}checked="checked"{% end %} id="inlineCheckbox1" type="radio" name="is_admin" value="0" />
            <label class="form-check-label" for="inlineCheckbox1">Không</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input"  {% if @user.is_admin == 1: %}checked="checked"{% end %} id="inlineCheckbox2" type="radio" name="is_admin" value="1" />
            <label class="form-check-label" for="inlineCheckbox2">Quản lý</label>
          </div>
          <div class="form-check form-check-inline">
              <input class="form-check-input" {% if @user.is_admin == 2: %}checked="checked"{% end %} id="inlineCheckbox3" type="radio" name="is_admin" value="2" />
              <label class="form-check-label" for="inlineCheckbox3">Admin</label>
            </div>
        </div>
      </td>
    </tr>
    <tr><td colspan="4"><hr class="separator"></td></tr>
    <tr>
      <td><a>Địa chỉ</a></td>
        <td colspan="3">
        <input class="form-control form-control-sm" value="{%= @user.address %}" type="text" name="address"  maxlength="200" size="80">
      </td>
    </tr>
    <tr>
      <td><a>Vùng dữ liệu được truy cập</a></td>
        <td colspan="3">
         <select value="{%= @user.zone_available %}" id="user_zone_available" class="form-control form-control-sm" name="zone_available">
          <option value="0">
          Chọn vùng dữ liệu...
          </option><option value="ALL">Tất cả</option>
          <option value="N">Miền Bắc</option>
          <option value="S">Miền Nam</option>
          <option value="M">Miền Trung</option>
          <option value="HN">TP Hà Nội</option>
          <option value="HCM">TP Hồ Chí Minh</option>
        </select>
      </td>
    </tr>  
    <tr>
      <td valign="top"><a>Thành phố</a></td>
        <td>
        <input class="form-control form-control-sm" value="{%= @user.city %}" type="text" name="city"  />
      </td>	
    </tr>
    <tr>
      <td valign="top" class="title">
        <a>Số điện thoại</a>
      </td>
      <td>
          <input class="form-control form-control-sm" value="{%= @user.phone %}" type="text" name="phone" />
      </td>
    </tr>	
    <tr><td colspan="4"><hr class="separator"></td></tr>
    <tr>
      <td valign="top"><a>Ghi chú</a>	</td>
        <td colspan="3">
        <textarea class="form-control form-control-sm"  name="note" cols="80" rows="4">{%= @user.note %}</textarea>
      </td>
    </tr>	
    <tr>
      <td valign="top"><a>Địa chỉ văn phòng</a></td>
        <td>
        <input type="text" class="form-control form-control-sm" name="address_office" value="{%= @user.address_office %}">
      </td>
    </tr>
    <tr>
        <td valign="top"><a>Số điện thoại văn phòng</a></td>
          <td>
          <input type="text" class="form-control form-control-sm" name="tel_office" value="{%= @user.tel_office %}">
        </td>
      </tr>
    <tr>
      <td valign="top"><a>Mật khẩu  {% if @user.id > 0: %}(Thay đổi){% end %}</a></td>
      <td>
        <input placeholder="*********" type="text" class="form-control form-control-sm" name="password" />
      </td>
    </tr>
    {% if @user.id > 0: %}
    <tr>
      <td valign="top"><a>Gói Dịch vụ</a></td>
      <td id="service-package">
      </td>
    </tr>
    {% end %}
    <tr>
        <td valign="top"><a>TEAM SALE</a></td>
        <td>
          {% if @userTeam.id > 0: %}
          <a href="/sale-team/{%= @userTeam.id %}/edit"><span id="team_name_span">{%= @userTeam.name %}</span>{%= (@userTeam.id && " [Sửa]") %}</a>
          <a  onclick="addToSaleTeam()" style="margin-right: 10px;" class="btn btn-sm btn-warning">Chọn Team Sale</a>
          {% else: %}
          <span id="team_name_span">Chưa thuộc Team nào </span>
          <span>
              <a  onclick="addToSaleTeam()" style="margin-right: 10px;" class="btn btn-sm btn-warning">Chọn Team Sale</a>
              {% if @user.id > 0: %}
              <a  onclick="createTeam()" style="margin-right: 10px;" class="btn btn-sm btn-light">Tạo Team Sale</a>
              {% end %}
          </span>
          {% end%}
        </td>
    </tr>
    <tr>
        <td>Vị trí trong <strong>Team SALE</strong></td>
        <td>  
          <select class="form-control form-control-sm" value="{%= @user.saleteam_position %}" id="saleteam_position" name="saleteam_position">
            <option value="" selected>Chọn vị trí</option>
            <option value="SALE_MANAGER">Sale Manager</option>
            <option value="SALE_ADMIN">Sale Admin</option>
            <option value="SALE_SUPPORT">Sale Support</option>
            <option value="SALE_MAN">Sale Man</option>
          </select>
      </td>
      </tr>
    <tr><td colspan="4"><hr class="separator"></td></tr>

    <tr><td><button id="submit" class="btn btn-primary">Lưu lại</button></td></tr>
  </tbody></table>
  <input type="hidden" name="team_id" id="team_id" value="{%= @user.team_id %}" />
  </form>
  <div class="modal" id="md-create-sale-team" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Tạo mới Sale team</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>Nhập tên Team Sale</label>
            <input class="form-control" name="team_name" id="team_name" />
            <label>Vùng dữ liệu được truy cập</label>
            <select  value="0"  id="zone_available" class="form-control form-control-sm" name="zone_available">
              <option value="0" selected>
              Chọn vùng dữ liệu...
              </option><option value="ALL">Tất cả</option>
              <option value="N">Miền Bắc</option>
              <option value="S">Miền Nam</option>
              <option value="M">Miền Trung</option>
              <option value="HN">TP Hà Nội</option>
              <option value="HCM">TP Hồ Chí Minh</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" onclick="newTeamSale()" class="btn btn-primary">Lưu lại</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="md-add-sale-team" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Chọn Team SALE cho người dùng</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="list-group" id="team-list">
                 
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="md-set-package" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Cài đặt gói dịch vụ</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="list-group" id="service-body">
                  <label>Gói dịch vụ</label>
                  <select class="form-control form-control-sm" id="package" name="package">
                  <option value="">Chọn gói dịch vụ</option>
                  <option value="basic">Basic</option>
                  <option value="standard">Standard</option>
                  <option value="enterprise">Enterprise</option>
                  </select>
                  <label>Ngày hết hạn</label>
                  <input class="form-control" type="text" name="expire_date" id="expire_date"/>
                  <p id="message-team"></p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="SaveOrder()">Lưu</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
            </div>
          </div>
        </div>
      </div>
</div>
<script>
  $("select").each((i,e) => {
    let value = e.getAttribute('value');
    $(e).val(value)
  })
  if (localStorage.getItem("admin") == 2 ){
    $("#admin-right").show();
  }
</script>
<script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
  $mdCreate = $("#md-create-sale-team")
  $mdAdd = $("#md-add-sale-team")
  function createTeam() {
    $mdCreate.modal('show')
  }
  let USERID = $("#userId").val()
  function setTeam(id, name, zone_available) {
    $("#team_id").val(id)
    $("#team_name_span").html(name)
    if (zone_available) {
      $("#user_zone_available").val(zone_available)
    }
    $mdAdd.modal('hide')
    if (parseInt(USERID) > 0) {$("#form-form").submit();}
    
  }

  function addToSaleTeam(){
    $.getJSON('/api/sale-team')
    .done(res => {
      let html = res.map(team => `<a href="#" onclick="setTeam(${team.id}, '${team.name}', '${team.zone_available}')" data-id=${team.id} class="list-group-item list-group-item-action">${team.name}</a>`)
      ///console.log(html)
      $("#team-list").html(html.join(""))
    })
    $mdAdd.modal({show: true})
  }

  function newTeamSale() {
    let teamName = $("#team_name").val();
    let zone_available = $("#zone_available").val();
    if (teamName.length) {
      $.ajax({
        url: '/api/sale-team',
        type: 'post',
        data: {name: teamName, zone_available: zone_available}
      })
      .done(res => {
        setTeam(res.id, teamName, zone_available);
        $("#user_zone_available").val(zone_available)
        $("#saleteam_position").val("SALE_MANAGER")
        $mdCreate.modal('hide')
      })
      .fail(err => {
        console.log(err)
      })
    } else {
      alert("Vui lòng nhập tên Team sale")
    }
  }

  $("select").each((i,e) => {
    let value = e.getAttribute('value');
    $(e).val(value)
  })
  $("#form-form").submit(function (event) {
    event.preventDefault()
    event.stopPropagation()
    var formData = $("#form-form").serializeArray()
    let putData = {}
    formData.forEach(field => { putData[field.name] = field.value })
    putData.emailVerified = true
    let id = putData.id; delete putData.id
    if (id > 0) {
      $.ajax({
        type: 'post',
        data: putData,
        url: '/api/user/' + id+ '/update'
      })
      .done(res => {
        window.scrollTo(0,0)
        $("#message").html('<div class="alert alert-success">Lưu thông tin thành công !   <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
      })
      .fail(err => { alert('Failed'); console.log(err) })
    } else {
      if (!putData.password) {
        alert("Vui lòng nhập mật khẩu cho User mới")
      }
      $.ajax({
        type: 'post',
        data: putData,
        url: '/api/user'
      })
      .done(res => {
        alert('Tạo user thành công')
        location.href = '/user-manager'
      })
      .fail(err => { alert('Failed'); console.log(err) })
    }
  })
  var order = {}
  let teamId = "{%= @user.team_id %}"
  if (document.getElementById("service-package")) {
    $control = $("#service-package");
    $.get('/api/order/?filter={ "where": { "or": [ {"user_id": {%= @user.id %} }, {"team_id": "'+ (teamId > 0 ? teamId : '-99' ) +'"} ] }}')
    .done(data => {
      if (!data || !data.length) {
        $control.html("<span id='spanD'>Chưa có đặt hàng </span><span onclick='editService()' class='editor'>[Cài đặt gói dịch vụ]</span>")
      } else {
        order = data[0]
        console.log(order)
        let expire_date = moment(order.expire_date).format("DD/MM/YYYY")
        $control.html(`<span id="spanD">${order.package} - ${expire_date}</span> <span onclick='editService()' class='editor'>[Cài đặt gói dịch vụ]</span>`)
      }
    })
    .fail(err => {

    })
  }
  let $mdPackage = $("#md-set-package")
  let $package = $("#package")
  let $expireDate = $("#expire_date")
  editService = () => {
    let userTeam = teamId
    if (userTeam > 0) {
      order.team_id = userTeam
      $("#message-team").html("Gói dịch vụ cho người dùng này sẽ được cài đặt theo Team")
    }
    $package.val(order.package);
    let date = moment(order.expire_date || new Date()).format("DD/MM/YYYY")
    $expireDate.val(date);
    $("#expire_date").datepicker({format: 'dd/mm/yyyy'})
    $mdPackage.modal('show')
  }
  function SaveOrder() {
    order.expire_date = moment($expireDate.val(), "DD/MM/YYYY").toDate().toISOString()
    order.package = $package.val()
    order.user_id = "{%= @user.id %}"
    order.active = true;
    order.active_date = (new Date()).toISOString()
    if (!order.created) { delete order.created }
    if (!order.package || order.package =="") {
      alert("Vui lòng chọn 1 gói dịch vụ")
      $package.focus()
      return false
    }
    if (order.id) {
      // Update
      let sendData = Object.assign({}, order)
      sendData.id = undefined
      order.team_id = teamId > 0 ? teamId : null
      $.ajax({
        type: 'PUT',  
        url: '/api/order/' + order.id,
        data: sendData
      })
      .done(() => {
        $mdPackage.modal('hide')
        $("#spanD").html(order.package + ' - ' + $expireDate.val())
      })
      .fail(err => alert("Lỗi xảy ra khi cập nhật thông tin") )
    } else {
      // Create
      order.created = (new Date).toISOString()
      order.team_id = teamId > 0 ? teamId : null
      $.ajax({
        type: 'POST',  
        url: '/api/order/',
        data: order
      })
      .done(() => {
        $mdPackage.modal('hide')
        $("#spanD").html(order.package + ' - ' + $expireDate.val())
      })
      .fail(err => alert("Lỗi xảy ra khi cập nhật thông tin") )
    }
  }

</script>
{% end %}