{% extend 'layout.ect' %}
{% block 'content': %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-2 border-bottom">
  <h2 class="h2"><a href="/user-manager" style="color: #111;">Quản lý người dùng</a></h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div style="padding-right: 10px;">
      <form>
       <input name="q" value="{%= @q %}" type="text" class="form-control form-control-sm" style="min-width: 220px;" placeholder="Tìm kiếm theo tên hoặc Email"/>
      </form>
    </div>
    <select id="package-selector" style="margin-right: 10px;">
      <option value="all">Gói dịch vụ (Tất cả)</option>
      <option value="enterprise">Enterprise</option>
      <option value="standard">Standard</option>
      <option value="basic">Basic</option>
    </select>
    <a href="/user/create" style="margin-right: 10px;" class="btn btn-sm btn-success">Tạo mới tài khoản</a>
  </div>
</div>
<div class="">
    <div>Tổng cộng: {%= @count %}</div>
    <div class="paging-holder">
    </div>
  <div id="table-holder" style="overflow: scroll; display: block; width: 100%;">
    <div class="" style="min-width: 1440px;">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Control</th>
          {% for th in @headers: %}
            <th scope="col">{%= th.title %}</th>
          {% end %}
        </tr>
      </thead>
      <tbody>
        {% for user in @users: %}
        <tr scope="col">
          <td>
            <a href="/user/{%= user.id %}/edit" class="edit-link">Sửa</a> <a data-api="/api/user-delete" data-id="{%= user.id %}" class="delete-link">Xoá</a>
          </td>
          {% for th in @headers: %}
          <td>
            {% if th.image: %}
            <img src="{%= user.image %}" style="max-width: 100px; max-height: 150px;"/>
            {% else: %}
            {%= user[th.key] %}
            {% end %}
          </td>
          {% end %}
        </tr>
        {% end %}
      </tbody>
    </table>
    </div>

  </div>
</div>
<div class="paging-holder">
</div>
{% end %}
{% block 'script': %}
<script>
  (function(){
    let paging = vnk.createPaging("{%= @totalPage %}")
    $(".paging-holder").html(paging)
    vnk.enableDelete();
    $("#package-selector").on("change", function (){
      var value  = $(this).val();
      if (value != 'all') { location.href = "/user-manager?package=" + value} 
      else {
        location.href = "/user-manager"
      }
    }).val("{%=@package%}")
  })()
</script>
{% end %}